* {font-weight: bolder;}
.cajaext, th, td {border: 2px; border-style: solid; border-color: mediumblue; text-align: center;}
h1 {font-family: Arial, Helvetica, sans-serif; font-size: 0.4cm; text-align: center;}
td, th {width: 400px;}
.uno {background-color: chartreuse;}
.color {color: red;}
.dos {background-color: cadetblue; text-align: left;}
.tres {
    background-color: plum; 
    text-align: right;
    vertical-align: bottom;
}